a{
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body{
  font-family: 'Fredoka', sans-serif;
font-family: 'Roboto', sans-serif;
}

/* nav */
nav {
  height: 70px;
  color: white;
  background-color: #FF6900;
  margin-bottom: 60px;
}

.flex-box{
  display: flex;
}

.centered{
  height: 100%;  
  width: 80%;
  margin: auto;
}

.nav-inner{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.nav-inner .categories{
  width: 30%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.nav-inner .categories ul{
  width: 100%; 
}

.nav-inner .categories ul li{
  align-items: baseline;
  width: 50px;  
}

.nav-inner .logo{
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#boolean-logo{
  height: 30px;  
}

.nav-inner .links{
  width: 30%;
  height: 100%;
  
  align-items: center;
  
}

.nav-inner .links ul{
  width: 100%;
  flex-direction: row-reverse;
}

/* / nav */
/* main */
main{
  margin-bottom: 60px;
}

.main-inner{
  flex-direction: column;
}

.main-inner-row{
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.img-card-box{
  flex-direction: column;
  width: 33%;
  
}

.immagine{
  position: relative;
  font-size: 0.7em;
  
}

.immagine:hover .cuore{
  color: red;

}

.immagine img{
  width: 100%;
}

.immagine img.hidden{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
}

.immagine:hover img.hidden{
  display: block;
}

.sconto {
  background-color: red;
  height: 6%;
  width: 15%;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  color: white;
}

.sostenibile{
  background-color: green;
  height: 6%;
  width: 35%;
  position: absolute;
  justify-content: center;  
  align-items: center;
  bottom: 5%;
  left: 17%;
  color: white;


}

#last{
  left: 0%;
}

.cuore{
  background-color: white;
  height: 6%;
  width: 8%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 3%;
  right: 0%;
  font-size: 1.8em;

}

/* /main */

footer{
  height: 100px;
  color: white;
  background-color: #1A1A1A; 
  font-size: 0.8em;
}

footer-inner{
  flex-direction: row;
}

.company-details{
  width: 50%;
  height: 100%;
  
  flex-direction: column;
  justify-content: center;
}

.social-media{
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}